@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Poppins:wght@400;500;600;700;800&display=swap');

/* --rose-50: #fff1f2;
--rose-100: #ffe4e6;
--rose-200: #fecdd3;
--rose-300: #fda4af;
--rose-400: #fb7185;
--rosa-500: #f43f5e;
--rose-600: #e11d48;
--rose-700: #be123c;
--rose-800: #9f1239;
--rosa-900: #881337;
--rose-950: #4c0519;
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    background-color: #edecee;
    padding: 10%;
}

.img-animacion {
    overflow: hidden;
  }
  
  .img-animacion img {
    transition: transform 0.3s;
  }
  
  .img-animacion:hover img {
    transform: scale(1.1);
  }
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    color: #e65edf;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #111419;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #9bce21;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4e4b5076;
    padding: 20px;
    min-width: 400px;
}

table{
    width: 100%;
}

th, td{
    color: #fff;
}

.borrar{
    background-color: #9bce21;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-txt{
    flex-basis: 50%;
    margin-right: 25px;
}

span{
    color: #807070;
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
}

.header-txt h1{
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #746868;
    margin-bottom: 35px;
}

.header-txt p{
    font-size: 17px;
    color: #515557;
    margin-bottom: 50px;
}

.buttons{
    display: flex;
}

.btn-1{
    display: inline-block;
    padding: 13px 25px;
    background-color: #a5e6c8;
    margin-right: 20px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.header-img{
    flex-basis: 50%;
    text-align: center;
}

.header-img img{
    height: 550px;
}

.ofertas-container{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.oferta-1{
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b1{
    background-color: #9a8fc8;
}

.b2{
    background-color: #8dbdeb;
}

.b3{
    background-color: #d9f5b5;
}

.oferta-txt{
    flex-basis: 50%;
}

.oferta-txt h3{
    color: #fff;
    font-size: 20px;
}

.oferta-txt a{
    color: #fff;
}

.oferta-img{
    flex-basis: 50%;
}

.productos{
    padding: 0 0 50px 0;
    text-align: center;
}

h2{
    font-size: 40px;
    color: #111419;
}

.box-container{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}

.box{
    border-top: 2px solid #807070;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #f6fafb;
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8){
    display: inline-block;
}

.box img{
    height: 200px;
    border-radius: 5%;
}

.producto-txt h3{
    font-size: 20px;
    color: #111419;
    margin-bottom: 10px;
}

.producto-txt p{
    margin-bottom: 25px;
    color: #515557;
}

.precio{
    font-size: 17px;
    font-weight: 700;
    color: #9a8fc8 !important;
}

.btn-2, .btn-3{
    background-color: #fb7185;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover, .btn-3:hover,.btn-1:hover{
    background-color: #13462e;
}

.btn-3{
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

.testimonial{
    padding: 100px 0;
    text-align: center;
}

.testimonial-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1{
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: #f6fafb;
    border-top: 5px solid #9bce21;
}

.testimonial-1 img{
    width: 100px;
}

.testimonial-1 h4{
    font-size: 17px;
    color: #111419;
}

.testimonial-1 p{
    color: #515557;
    margin-bottom: 25px;
}

.footer{
    background-color: #c558b7;
    padding: 100px 0;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a{
    color: #aeafaf;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #9bce21;
}

@media (max-width:991px) {
    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ff9000;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .logo{
        display: none;
    }

    .menu .navbar ul li a:hover{
        color: #fff;
    }

    .submenu:hover #carrito{
        width: 100%;
    }

    .header{
        padding: 50px 0 0 0;
    }

    .header-content{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-txt{
        margin-right: 0;
    }

    .buttons{
        justify-content: center;
    }

    .btn-1{
        margin-bottom: 0;
    }

    .header-img{
        display: none;
    }

    .ofertas-container{
        padding: 30px;
        flex-direction: column;
    }

    .oferta-1{
        margin-bottom: 15px;
    }

    .productos{
        padding: 0 30px 30px 30px;
    }

    .testimonial{
        padding: 30px;
    }

    .testimonial-content{
        margin-top: 20px;
        flex-direction: column;
    }

    .testimonial-1{
        padding: 25px;
        margin-bottom: 25px;
    }

    .footer{
        padding: 30px;
        background-color: #9a8fc8;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

    
    
}